<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-GZRQRE93CG"></script>
      <script>
         window.dataLayer = window.dataLayer || [];

         function gtag() {
            dataLayer.push(arguments);
         }
         gtag('js', new Date());
         gtag('config', 'G-GZRQRE93CG');
      </script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="image" property="og:image" content="/sitewideimg.png">
      <meta name="description" property="og:description" content="{{ site.description }}">
      <meta name="title" property="og:title" content="{{ site.title }}">
      <meta name="keywords" content="{{ site.author_name }}">
      <meta name="author" content="{{ site.author_name }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://irisoflys.com/links">
      {{ page.meta }}
      <title>{{ site.title }} {{ page.title }}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <link href="/links/index.css" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">
      <script src="https://kit.fontawesome.com/56182aba27.js" crossorigin="anonymous"></script>
   </head>
   <body>
      
     <!-- SCM Music Player https://www.scmplayer.net -->
<script type="text/javascript" src="https://www.scmplayer.net/script.js" 
data-config="{'skin':'skins/aquaPink/skin.css','volume':50,'autoplay':false,'shuffle':false,'repeat':1,'placement':'bottom','showplaylist':false,'playlist':[{'title':'Terrible Lie by NIN (REMORALIZATION MIX)','url':'https://www.youtube.com/watch?v=lyubluofbvo'},{'title':'Mother Nature%27s Bitch by Okay Kaya (Salvage Extended Mix)','url':'https://www.youtube.com/watch?v=USO8EpLykfY'},{'title':'Jerking Off to Heaven%27s Gate by Haircuts for Men','url':'https://www.youtube.com/watch?v=-_OgnxEgQ38'},{'title':'Resonance by HOME (333-i9 Drum and Bass Mix)','url':'https://www.youtube.com/watch?v=vJ0Y9fy7Pu8'},{'title':'Pizza Day by ESPRIT','url':'https://www.youtube.com/watch?v=1opoFxoCI8k'}]}" ></script>
<!-- SCM Music Player script end -->

      
      {% include rainbow.html %}
      <div class="canvas">
         <div class="links">
            <a href="/links" style="width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
               <img src="/links/sitewideimg.png" class="logo">
            </a>
            <a href="/links"><h1 style="text-transform:uppercase;">Iris of Lys</h1></a>
            <div class="divider"></div>
            <p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;">multilingual coder &amp; draw&#8209;er</p>
            
            <div id="bio" class="hidden">
               
        <p>Welcome to my links page! I'm a first generation Cuban-American who is fluent in Spanish and English. My profession is front-end web development, and I'm a big language enthusiast. I specialize in German and have studied a great deal of French. My other hobbies are drawing, zoology, history, true crime, weight loss, playing games, watching anime, and listening to music. I love my fiancé and my birds! ♡</p> 
               <p>To get more specific, the things I draw are mostly anthropomorphic animals and mythological creatures. My favorite animals are birds, and I also think bugs are neat. I haven't been able to decide on a fursona, but personality-wise I'm probably like a cat or a mole. I'm currently into the colors white, pink, and purple. My favorite video games have unique gameplay mechanics. Some of these are Okami, Snake Pass, Red Dead Redemption 2, Wobbledogs, Hypnospace Outlaw, Bejeweled 3, and the original Spyro the Dragon series. Finally, my favorite history topic is World War II, and my favorite True Crime topic is mass murderers. Some other miscellaneous stuff I like are plushies, trinkets, sweets, coffee, warmth, rain, and rainbows.</p>
        <p>I'm dutiful, detail-oriented, introverted, mildly socially anxious, moral, and areligious. In the DiSC personality assessment, I'm CS. In Global 5 or SLOAN, I'm RLOEI. This means I'm highly introverted, quite conscientious and neurotic, decently open to new experiences, and not the most sociable. My Enneagram type is maybe 4, and my tritype is either 461 or 471? My MBTI is either INFP or ISTJ.</p>        
        <p style="margin-bottom:0rem;">I made these pages because I don't like social media, political debates, and drama. Below you can see links to my drawings, photos, and where I'm active online.</p>
               
      </div>
        <p id="less" class="hidden" style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;margin-top:1rem;"><a href="#top">Show less</a></p>
        <p id="more" style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;"><a href="#bio">Show more</a></p>       
            
            <!--<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;">Status: Made New Art Website!</p>-->
            <a id="theme-toggle" class="desktop" onclick="modeSwitcher()"></a>
            <a href="/art" class="link">Art</a>
            <a href="/pics" class="link">Pics</a>
            <a href="/blog" class="link">Blog</a>
            <a href="/" class="link" target="_blank">Portfolio</a>
            <a href="https://github.com/irisoflys" class="link" target="_blank">Github</a>
            <a href="https://linkedin.com/in/irisoflys" class="link" target="_blank">LinkedIn</a>
            <a href="https://myanimelist.net/profile/irisoflys" class="link" target="_blank">My&nbsp;Anime&nbsp;List</a>
            <a href="https://www.imdb.com/user/ur93620872" class="link" target="_blank">IMDb</a>
            <a href="https://goodreads.com/irisoflys" class="link" target="_blank">Goodreads</a>
            <a href="https://steamcommunity.com/id/irisoflys" class="link" target="_blank">Steam</a>
            <a href="https://www.duolingo.com/profile/irisoflys" class="link" target="_blank">Duolingo</a>
            <a href="https://open.spotify.com/user/31xezqay72khqaa2awc3cm7rgr2a?si=3d3ff9bb8718489e" class="link" target="_blank">Spotify</a>
            
         </div>
         <div style="clear:both;"></div>
         {% include footer.html %}
         
      </div>
      <script src="/links/mode-switcher.js"></script>
      <script src="/links/showAboutMe.js"></script>
   </body>
</html>
