<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-GZRQRE93CG"></script>
      <script>
         window.dataLayer = window.dataLayer || [];

         function gtag() {
            dataLayer.push(arguments);
         }
         gtag('js', new Date());
         gtag('config', 'G-GZRQRE93CG');
      </script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="image" property="og:image" content="/sitewideimg.png">
      <meta name="description" property="og:description" content="{{ site.description }}">
      <meta name="title" property="og:title" content="{{ site.title }}">
      <meta name="keywords" content="{{ site.author_name }}">
      <meta name="author" content="{{ site.author_name }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://irisoflys.com/links">
      {{ page.meta }}
      <title>{{ site.title }} {{ page.title }}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <link href="/links/index.css" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">
      <script src="https://kit.fontawesome.com/56182aba27.js" crossorigin="anonymous"></script>
   </head>
   <body>
      
     <!-- SCM Music Player https://www.scmplayer.net -->
<script type="text/javascript" src="https://www.scmplayer.net/script.js" 
data-config="{'skin':'skins/aquaPink/skin.css','volume':50,'autoplay':false,'shuffle':false,'repeat':1,'placement':'bottom','showplaylist':false,'playlist':[{'title':'A Very Hard Act to Follow by Naked Eyes','url':'https://www.youtube.com/watch?v=xYVW9zu4Aqc'},{'title':'Red Sails by China Crisis','url':'https://www.youtube.com/watch?v=-GAPTFjQ6nY'},{'title':'Sonbahar by She Past Away','url':'https://youtu.be/-r9YkEmO0tw?si=vNcq4mltDaz39wgw'},{'title':'Terrible Lie by NIN (REMORALIZATION MIX)','url':'https://www.youtube.com/watch?v=lyubluofbvo'},{'title':'Mother Nature%27s Bitch by Okay Kaya (Salvage Extended Mix)','url':'https://www.youtube.com/watch?v=USO8EpLykfY'},{'title':'Jerking Off to Heaven%27s Gate by Haircuts for Men','url':'https://www.youtube.com/watch?v=-_OgnxEgQ38'}]}" ></script>
<!-- SCM Music Player script end -->

      
      {% include rainbow.html %}
      <div class="canvas">
         <div class="links">
            <a href="/links" style="width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
               <img src="/links/sitewideimg.png" class="logo">
            </a>
            <a href="/links"><h1 style="text-transform:uppercase;">Links&nbsp;of Liz&nbsp;Lorena</h1></a>
            <div class="divider"></div>
            <p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;">multilingual coder &amp; draw&#8209;er</p>
            
            <div id="bio" class="hidden">
               
        <p>I'm a Cuban-American front-end web developer. I love learning languages (most skilled in German and French), drawing, zoology, personality, World War II history, true crime (especially the psychology of mass murderers), reading, weight loss, games, furries, anime, and listening to music. I am fluent in Spanish and English. I love my fiancé and my birds! ♡</p> 
            <p>Some bands I like are Rammstein, Mindless Self Indulgence, KMFDM, Nine Inch Nails, Radiohead, Aphex Twin, System of a Down, Windows 96, China Crisis, and Naked Eyes. I've included a playlist on this page of some music I like. My favorite games are Hypnospace Outlaw, Broken Reality, Spyro the Dragon, Okami, Animal Crossing, Silent Hill 2, and Postal 2. My favorite stories in other media are End of Evangelion, Death Note, Drive, American Psycho, Joker, Triangle, The Hunchback of Notre Dame, Moral Orel, and Serial Experiments Lain. My inspirations include musician and streamer Vinny from Vinesauce, psychologist and school shooter expert Dr. Peter Langman, and digital artist and streamer Katspurr. My favorite characters are Tomoko Kuroki, Junpei Yoshino, Souichi Tsujii, Light Yagami, Claude Frollo, and Patrick Bateman. This list is ever-growing.</p>  
        <p>I'm an atheist. I have many obsessions. I definitely have social anxiety and who knows what else. In the DiSC personality assessment, I'm CS. In Global 5 or SLOAN, I'm RLOEI. This means I'm highly introverted, quite conscientious and neurotic, decently open to new experiences, and not the most sociable. My Enneagram type is likely 4w5, and my tritype is 469. My MBTI based on cognitive functions is probably INFP, but based on letter dichotomies I get INTP or INTJ. My favorite types are 3, 4, 5, 7, INFP, and the Analysts (xNTx). My fursona is an androphilic enby <a href="/art/img/2021-molegirl.jpg" target="_blank">mole</a> named Loren. My favorite animals are birds, frogs, moles, and mice.</p>        
        <p style="margin-bottom:0rem;">I want to stay far away from social media and politics, so I made these web pages to display my projects, art, thoughts, and links to my lists of things I've read and watched.</p>
               
      </div>
        <p id="less" class="hidden" style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;margin-top:1rem;"><a href="#top">Show less</a></p>
        <p id="more" style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;"><a href="#bio">Show more</a></p>       
            
            <!--<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;">Status: Made New Art Website!</p>-->
            <a id="theme-toggle" class="desktop" onclick="modeSwitcher()"></a>
            <a href="/art" class="link">Art</a>
            <!--<a href="/pics" class="link">Pics</a>-->
            <a href="/blog" class="link">Journal</a>
            <a href="/" class="link" target="_blank">Portfolio</a>
            <a href="https://github.com/lizberberena" class="link" target="_blank">Github</a>
            <a href="https://linkedin.com/in/lizberberena" class="link" target="_blank">LinkedIn</a>
            <a href="https://codepen.io/lizberberena" class="link" target="_blank">Codepen</a>
            <a href="https://myanimelist.net/profile/lorethefour" class="link" target="_blank">My&nbsp;Anime&nbsp;List</a>
            <a href="https://www.imdb.com/user/ur93620872" class="link" target="_blank">IMDb</a>
            <a href="https://www.goodreads.com/user/show/151410283" class="link" target="_blank">Goodreads</a>
            <a href="https://steamcommunity.com/profiles/76561198041114915/" class="link" target="_blank">Steam</a>
            <a href="https://www.duolingo.com/profile/lorelovesgerman" class="link" target="_blank">Duolingo</a>
            <a href="https://open.spotify.com/user/31xezqay72khqaa2awc3cm7rgr2a?si=3d3ff9bb8718489e" class="link" target="_blank">Spotify</a>
            
         </div>
         <div style="clear:both;"></div>
         {% include footer.html %}
         
      </div>
      <script src="/links/mode-switcher.js"></script>
      <script src="/links/showAboutMe.js"></script>
   </body>
</html>
